# Data Science Tools and Ecosystem

**Objectives:**
* List popular languages for Data Science
* List common libraries for Data Science
* Create a table for Data Science Tools
* Demonstrate Arithmetic expressions in Python

## Author
Nathan McClay

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. Scikit-learn
3. Pandas

|Data Science Tools|
|:--------------------:|
|Jupyter Notebook|
|R Studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335